.totalSection {
  margin-bottom: 1rem;
}

.inputsRow {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;

  label {
    display: flex;
    flex-direction: column;
    font-weight: 600;

    input {
      margin-top: 0.25rem;
      padding: 0.3rem;
      width: 100px;
    }
  }
}

.totalInfo {
  font-size: 1.2rem;
  font-weight: bold;
}
