.background {
  padding: 1rem 0;
  border-bottom: 2px solid $lightPrimaryColor;
  box-shadow: $boxShadow $grey;

  .flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      height: 5rem;
    }
  }
}
