.header {
  padding: 1rem 0;
  border-bottom: 2px solid $lightPrimaryColor;
  box-shadow: $boxShadow $grey;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      height: 7rem;
    }
  }
}
