.tr {
  &:nth-child(odd) {
    background-color: $white; // Aplica a los impares (1, 3, 5...)
  }

  &:nth-child(even) {
    background-color: #e4e4e4; // Aplica a los pares (2, 4, 6...)
  }
  td {
    padding: 0 0.5rem;
  }

  .number {
    text-align: center;
  }
}
