.box {
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  margin: 1rem auto;
  border: 1px solid $lightPrimaryColor; // Color por defecto

  &:nth-child(odd) {
    border-color: $lightPrimaryColor; // Aplica a los impares (1, 3, 5...)
  }

  &:nth-child(even) {
    border-color: $darkGrey; // Aplica a los pares (2, 4, 6...)
  }

  p {
    span {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
}
